.spl_nav{
    display: flex;
    margin: 30px 1%;
    width: 100%;
}
.spl_nav button{
    border: 1px solid #e3e3e3;
    background-color: white;
    margin-right: 5px;
    width: 28px;
    border-radius: 3px;
}
.spl_nav ul{
    display: flex;
    font-weight: 550;
    margin-left: auto;
}
.pslider {
    width: 52%;
    height: 750px;
}
.image{
    position: relative;
    border: 1px solid #e8e8e8;
    width: 96.6%;
    height: 79%;
    text-align: center;
}
.image > img{
    max-width: 100%;
    padding: 5%;
    height: auto;
    margin-top: 10%;
}
.image a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.pslider .thumbs{
    width: 100%;
    height: 21%;
}
.thumbs ul{
    display: flex;
}
.thumbs ul li {
    width: 22%;
    margin: 3.4% 3.4% 0 0;
    border: 1px solid #e8e8e8;
}
.thumbs ul li img{
    width: 100%;
    height: 100%;
}

.p_about {
    width: 45.6%;
    margin-left: 2.4%;
    color: #777777;
    line-height: 2;
}
.p_about h1{
    font-size: 22px;
    font-weight: 600;
    color: #232323;
}
.p_price{
    display: flex;
    font-size: 20px;
    font-weight: 550;
    color: #232323;
}
.p_price h2:first-child{
    color: #999999;
    text-decoration: line-through;
    margin-right: 6px;
}
.p_about p {
    margin-top: 15px;
}
.advantage{
    padding: 18px;
    border: 1px solid #e8e8e8;
    background-color: #fdfdfd;
    margin-top: 10px;
}
.advantage img{
    padding-bottom: 2px;
}
.p_member {
    width: 80px;
    height: 50px;
    margin: 20px 0;
    display: flex;
}
.p_member button{
    border: 1px solid #e8e8e8;
    height: 25px;
    outline: none;
}
.p_member h2{
    width: 65%;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}
.p_member div{
    display: grid;
    height: 100%;
    width: 35%;
}
.add_to_cart{
    display: flex;
}
.add_to_cart form button{
    margin-right: 30px;
    width: 195px;
    background-color: #222;
    border: none;
    display: flex;
    color: white;
    padding: 12px 18px;
    font-size: 14px;
    text-transform: uppercase;
}
.add_to_cart  img {
    width: 15px;
    height: 14px;
    margin-left: 28%;
    margin-top: 6px;
}
.add_to_cart > button {
    width: 50px;
    border: 1px solid #e8e8e8;
}
.p_data{
    margin-top: 40px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: #232323;
}
.p_data ul{
    padding: 25px 0;
}
.p_data ul li span{
    color: #777777;
}

.share{
    margin-top: 25px;
}
.share a{
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 3px 10px;
    margin-left: 8px;
}
.p_navigator {
    width: 25%;
    margin-top: 60px;
    margin-right: -1px;
    z-index: 2;
}
.p_navigator ul{
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
.p_navigator ul li{
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    height: 50px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 550;
}
.p_navigator ul li.active{
    border-left: 4px solid #408de4;
    border-right: 1px solid white;
}

.pd_container{
    padding: 40px 30px;
    width: 75%;
    margin-top: 60px;
    border: 1px solid #e8e8e8;
}
.pd_container h1{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 550;
}
.reviews {
    display: flex;
    margin-top: 30px;
}
.reviews img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.reviews div {
    border: 1px solid #e8e8e8;
    padding: 24px;
    width: 100%;
}
.reviews_row{
    margin-top: 30px;
}
.reviews_row > label{
    display: block;
    margin: 15px 0 23px 0;
}
.reviews_row > label:nth-child(3) img {
    margin-left: 60px;
}
.review_form div {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.review_form div label {
    width: 112px;
}
.review_form textarea{
    width: 100%;
}
.review_form input, textarea {
    padding: 9px 9px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: 45px;
}
.review_form input:focus , textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #b1c9e4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.review_form button{
    color: #fff;
    background-color: #222222;
    border-color: #222222;
    border-radius: 3px;
    padding: 9px 25px;
    margin-left: 138px;
}
.product-cat{
    display: flex;
}
@media (max-width: 992px){
    .pslider {
        width: 60%;
    }
    .p_about {
        width: 37.6%;
    }
    .share a {
        margin-left: 3px;
    }
    .p_navigator {
        width: 34%;
    }
    .pd_container {
        width: 66%;
    }
    .review_form div label {
        width: 128px;
        display: inline-block;
    }
    .review_form input, textarea {
        margin-left: 0;
    }
    .reviews_row > label:nth-child(3) img {
        margin-left: 25px;
    }
}

@media (max-width:768px){
    .pslider {
        width: 100%;
    }
    .p_about {
        width: 100%;
    }
    .p_navigator {
        width: 100%;
    }
    .pd_container {
        width: 100%;
        margin-top: -1px;
    }
}